.header_wrapper{
    height: 50px;
    background:#0052cc;
}

.main{
    // background:yellow
    color: #fff;

    a{
        color: #eee;
        &:hover{
            color: #fff;
        }

        span{
            color: #76a4ea;
        }
    }
}

.dropdown{
    height: 40px;
}

// .main{
//     background:#0052cc;
//     &:global(.ui.grid>.row>.column){
//         height: 48px;
//         box-sizing: border-box;
//     }
// }

